data/coca.json filter=lfs diff=lfs merge=lfs -text
data/now.json filter=lfs diff=lfs merge=lfs -text
data/merged.json filter=lfs diff=lfs merge=lfs -text
data/cleaned.json filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
